@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;

  &__item {
    background-color: $color-blue-400;
    padding: 16px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    @include margin-bottom(0);

    &:last-child {
      @include margin-bottom(.5);
    }


    &-description {
      font-size: 14px;
      font-family: $secondary-font-family;
      color: $color-blue-200;

      & p { 
        @include margin-bottom(0);
        @include margin-top(0);
      }

    }

    &-meta {

      display: grid;
      grid-template-areas: "category thumbnail" "title thumbnail";
      grid-template-columns: auto auto;

      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-thumbnail {
        grid-area: thumbnail;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      &-category {
        grid-area: category; 
        &-link {
          font-size: $typographic-small-font-size;
          font-family: $secondary-font-family;
          letter-spacing: 1px;
          color: $color-blue-200;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }
        }
      }

      &-title {
        grid-area: title;
        font-size: $typographic-base-font-size * 1.5;
        
        @include line-height(1.4);
        @include margin-top(0);
        @include margin-bottom(.5);
  
        &-link {
          color: $color-blue-100;
          transition: $transition-ease;
          border-bottom: 2px solid rgba(20,60,95,0);
          &:hover,
          &:focus {
            color: $color-blue-100;
            border-bottom: 2px solid $color-blue-100;
          }
  
        }
      }

    }

    &-readmore {
      display: inline-block;
      background-color: $color-secondary;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: $typographic-base-font-size;
      font-family: $primary-font-family;
      color: $color-blue-100;
      transition: $transition-ease;

      

      &:hover,
        &:focus {
        color: $color-blue-100;
        background-color: darken($color-secondary, 5%);
      }
    }

    &-deadline {
      color: $color-blue-200;
      display: inline-block;
      margin-left: 16px;
    }

  }

}