@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {

  &__item {
    background-color: $color-blue-400;
    padding: 16px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    @include margin-bottom(1);

    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.5;
      
      @include line-height(1.4);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-blue-100;
        transition: $transition-ease;
        border-bottom: 2px solid rgba(20,60,95,0);
        &:hover,
        &:focus {
          color: $color-blue-100;
          border-bottom: 2px solid $color-blue-100;
        }

      }

    }

    &-description {
      font-size: 14px;
      font-family: $secondary-font-family;
      color: $color-blue-200;
      @include line-height(1);

      & p { 
        @include margin-bottom(0);
        @include margin-top(0);
      }

    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          font-family: $secondary-font-family;
          letter-spacing: 1px;
          color: $color-blue-200;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      display: inline-block;
      background-color: $color-secondary;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: $typographic-base-font-size;
      font-family: $primary-font-family;
      color: $color-blue-100;
      transition: $transition-ease;

      

      &:hover,
        &:focus {
        color: $color-blue-100;
        background-color: darken($color-secondary, 5%);
      }
    }

    &-deadline {
      color: $color-blue-300;
      display: inline-block;
      margin-left: 16px;
    }

  }

}

@include breakpoint-lg {
  .feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

    &__item {
    @include margin-bottom(0);
    }
  }
}