@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

html {
    background-color: $color-blue-500;
}

.layout {
    display: block;
    
}
@include breakpoint-sm {
.layout {
    display: grid;
    grid-template-columns: 26vw auto;
}
}
