@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-blue-600;
    padding: 16px 24px;
    

    &__inner {

        &-title {
            color: $color-blue-100;
            @include margin-top(1);

            &::before {
                content: '';
                display: block;
                margin-bottom: 24px;
                height: 8px;
                background-color: $color-blue-100;
                width: 64px;
            }

            &:hover {
                color: $color-blue-100;
            }
        }

        &-subtitle {
            font-family: $secondary-font-family;
            font-size: 14px;
            color: $color-blue-200;
            @include line-height(1.2);

            
        }
    }

    &__footer {
        &-report {
            font-size: 14px;
            padding: 16px 16px 16px 0;
            transition: $transition-ease;
            border-radius: 8px;
            cursor: pointer;
            display: inline-grid;
            grid-auto-flow: column;
            grid-gap: 8px;

            &:hover {
                padding: 16px 16px 16px 16px;
                color: $color-blue-100;
                background-color: $color-blue-400;
            }
        }
    }
}

@include breakpoint-sm {
    .sidebar {
        position: fixed;
        height: 100vh;
        width: 22vw;
        left: 0;
    }
}