@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-blue-600;
    padding: 16px 24px;

    &__inner {

        &-title {
            color: $color-blue-100;
            @include margin-top(1);

            &::before {
                content: '';
                display: block;
                margin-bottom: 24px;
                height: 8px;
                background-color: $color-blue-100;
                width: 64px;
            }

            &:hover {
                color: $color-blue-100;
            }
        }

        &-subtitle {
            font-family: $secondary-font-family;
            font-size: 14px;
            color: $color-blue-200;
            @include line-height(1.2);

            
        }
    }

    &__footer {
        &-follow {
            color: $color-blue-100;
            display: flex;
            transition: $transition-ease;

            a {
                font-size: 18px;
                display: inline-grid;
                grid-auto-flow: column;
                grid-gap: 8px;
                padding: 8px 16px 8px 0;
                margin-right: 16px;
                border-radius: 8px;
                transition: $transition-ease;

                &:hover {

                    p {
                        display: inline;
                        font-size: 14px;
                        opacity: 1
                    }

                    padding: 8px 16px;
                    color: $color-blue-100;
                    background-color: $color-blue-400;
                }

                p {
                    display: none;
                    opacity: 0;
                    transition: $transition-ease;
                    @include margin-bottom(0);
                    @include margin-top(0);
                }
            }
        }

        &-report {
            font-size: 14px;
            padding: 8px 16px 8px 0;
            margin: 8px 0;
            transition: $transition-ease;
            border-radius: 8px;
            cursor: pointer;
            display: inline-grid;
            grid-auto-flow: column;
            grid-gap: 8px;

            &:hover {
                padding: 8px 16px;
                color: $color-blue-100;
                background-color: $color-blue-400;
            }
        }

        &-credit {
            font-size: 12px;

            a {
            transition: $transition-ease;
            border-radius: 8px;
            }

            &:hover a {
                padding: 8px;
                color: $color-blue-100;
                background-color: $color-blue-400;
            }
        }
    }
}

@include breakpoint-sm {
    .sidebar {
        position: fixed;
        height: 100vh;
        width: 22vw;
        left: 0;
    }
}