@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.list {
    list-style-type: none;
    display: inline-block;
    max-width: 600px;
    margin: 16px 0 32px 0;

    &:first-child {
        padding-left: 0;
    }

    &__item {
        display: inline-block;
        font-size: 14px;
        padding: 8px 16px 8px 0;
        margin-right: 8px;
        border-radius: 8px;
        transition: $transition-ease;

        &:hover { 
            padding: 8px 16px;
            background-color: $color-blue-400;
            color: $color-blue-100;
        }
    }
}

@include breakpoint-md {
    .list {
        display: flex;
    } 
}