@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.list {
    list-style-type: none;
    display: flex;

    &:first-child {
        padding-left: 0;
    }

    &__item {
        font-size: 14px;
        display: inline-grid;
        grid-auto-flow: column;
        grid-gap: 8px;
        padding: 8px 16px 8px 0;
        margin-right: 8px;
        border-radius: 8px;
        transition: $transition-ease;

        &:hover { 
            padding: 8px 16px;
            background-color: $color-blue-400;
            color: $color-blue-100;
        }
    }


}